.phonolo {
    font-family: 'Doulos SIL', 'Times New Roman', 'Arial', 'Courier New', 'Segoe UI';
    box-sizing: border-box;
    --phonolo-active-color: pink;
}

.phonolo * {
    box-sizing: inherit;
}

.phonolo-interact:hover, .phonolo .phonolo-active {
    cursor: pointer;
    color: var(--phonolo-active-color);
    border-color: var(--phonolo-active-color);
}

.phonolo-popup {
    z-index: 5000 !important;
    position: fixed;
    border: 1px solid black;
    padding: 10px;
}


.phonolo-phonegrid {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "symbol name"
        "symbol phones";
    column-gap: 5px;
    margin-bottom: 10px;
}

.phonolo-phonegrid .phonolo-symbol {
    grid-area: symbol;
    height: 50px;
    width: 50px;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.phonolo-phonegrid .phonolo-name {
    grid-area: name;
    font-size: larger;
}

.phonolo-phonegrid .phonolo-allophones {
    grid-area: phones;
}


.phonolo-featurebundle {
    display: flex;
    justify-content: center;
    font-size: large;
    gap: 5px;
    min-height: fit-content;
}

.phonolo-features {
    border: 0;
    border-spacing: 0;
}

.phonolo-features .phonolo-feature-value {
    text-align: right;
}

.phonolo-features .phonolo-feature-feature {
    text-align: left;
}

.phonolo-bracket-left, .phonolo-bracket-right {
    width: 20px;
    border: 4px solid black;
}

.phonolo-bracket-left {
    border-right: 0;
}

.phonolo-bracket-right {
    border-left: 0;
}


.phonolo-rule {
    display: flex;
    width: max-content;
    align-items: center;

    gap: 5px;

    font-size: larger;
}

.phonolo-rule .phonolo-rule-arrow {
    font-size: 1.2em;
}

.phonolo-rule .phonolo-rule-slash {
    font-size: 1.2em;
}

.phonolo-rule .phonolo-rule-underscore {
    border-bottom: 1px solid black;
    height: 1em;
    width: 1em;
}

.phonolo-naturalclass {
    width: min-content;
}

.phonolo-naturalclass .phonolo-naturalclass-header {
    width: max-content;
    font-size: large;
}

.phonolo-naturalclass .phonolo-naturalclass-segments {
    width: 100%;
}

